body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  #black {
    height: 100vh;
    width: 100vw;
    background-color: #111;
  }
  
  #dvd {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 100px;
    mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
    -webkit-mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
  }
  